<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static "css/layout.css" %}">
		<script type="text/javascript"
		src="{% static "js/layout.js" %}"></script>
		<body>
		<div class="header">
			<a href="#default" class="logo">MAHAL MANAGEMENT SYSTEM</a>
			<div class="header-right">
			<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="active">Login</button>
			<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" >Register</button>
			</div>
		</div>
		<div class="topnav">
			<a class= "active" href="{% url 'mypageapp:mahal_page' %}">Home</a>
			<a href="{% url 'mypageapp:mahal_reg' %}">Register</a>
			<a href="#">Contact</a>
			<a href="{% url 'mypageapp:user_profile_reg' %}">About</a>
			<a href="{% url 'admin:index' %}">Admin</a>
		</div>


		<!-- log in form from any screen -->
		<div id="id01" class="modal">

			<form class="modal-content animate" action="/action_page.php" method="post">
			        <div class="imgcontainer">
				        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				        <img src="#" width="40%"/>
				    </div>
			    <div class="divinfo">
			    <div class="container">
				    <label for="uname"><b>Username</b></label></br>
				    <input type="text" placeholder="Enter Username" name="uname" required></br>

				    <label for="psw"><b>Password</b></label></br>
				    <input type="password" placeholder="Enter Password" name="psw" required></br>
				    <button type="submit">Login</button>
				    <label>
				    <input type="checkbox" checked="checked" name="remember"> Remember me
				    </label>
			    </div>

			    <div class="container" style="background-color:#f1f1f1">
				    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
				    <span class="psw">Forgot <a href="#">password?</a></span>
			    </div>
			    </div>
			</form>
		</div>


		<div class="cintainer">
			{% block body_block %}
			{% endblock %}
		</div>
	</body>
</html>
