<!DOCTYPE html>

{% extends "mahal/layout.html" %}
{% block body_block %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static "css/register.css" %}">
</head>
		<div class="container">
			<form action="action_page.php">

				<h1>Profile</h1>
				<p>Please fill in this form for create your profile</p>
				<hr>
				<h3>Personal Details</h3>
				<!-- personal details tab -->
				<hr>
				<table>
					<col width="150" padding="20">
					<col width="400">
					<col width="25">
					<col width="150">
					<col width="400">
					<tr>
						<td><label for="Preg_fname"><b>First Name: </b></label></td>
						<td><input type="text" placeholder="Enter First Name" name="Pregfname" required></td>
						<td></td>
						<td><label for="Preg_lname"><b>Last Name: </b></label></td>
						<td><input type="text" placeholder="Enter Last Name" name="Preg_lname" required></td>
					</tr>
					<tr>
						<td><label for="Preg_birthday"><b>Date of Birth: </b></label></td>
						<td><input type="date" id="birthday" name="Preg_birthday" required>
						<td></td>
						<td><label for="Preg_gender"><b>Gender: </b></label></td>
						<td><select id="gender" name="Preg_gender">
							<option value="">--Select--</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="Preg_fthrnaem"><b>Father Name: </b></label></td>
						<td><input type="text" placeholder="Enter Father Name" name="Preg_fthrnaem" required></td>
						<td></td>
						<td><label for="Preg_mthrname"><b>Mother Name: </b></label></td>
						<td><input type="text" placeholder="Enter Mother Name" name="Preg_mthrname" required></td>
					</tr>
					<tr>
						<td><label for="Preg_aline1"><b>Address: </b></label></td>
						<td><input type="text" placeholder="Enter House Name" name="Preg_aline1" required></td>
						<td></td>
						<td><label for="Preg_occupation"><b>Occupation: </b></label></td>
						<td><select id="occupation" name="Preg__occupation" required>
							<option value="">--Select--</option>
							<option value="Student">Student</option>
							<option value="Govemp">Government Employee</option>
							<option value="Engineer">Engineer</option>
							<option value="Doctor">Doctor</option>
							<option value="Accountant">Accountant</option>
							<option value="OfficeBoy">Office Assistant</option>
							<option value="Salesm">Sales Man</option>
							<option value="Business">Business</option>
							<option value="Painter">Painter</option>
							<option value="WeldWire">Welder/Wiring</option>
							<option value="Drughman">Drughman</option>
							<option value="GulfEmployee">Gulf Employee</option>
							<option value="Occothers">Other</option>
						</select></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="text" placeholder="Enter Area Name" name="Preg_aline2" required></td>
						<td></td>
						<td><label for="Preg_Adhaar"><b>Adhaar Number: </b></label></td>
						<td><input type="text" placeholder="Enter Adhaar Number" name="Preg_Adhaar" required></td>
					</tr>
						<tr>
						<td></td>
						<td><input type="text" value="Chemnad PO, Kasaragod, 671317" name="Preg_aline3" required></td>
						<td></td>
						<td><label for="Preg_Mobile"><b>Mobile Number: </b></label></td>
						<td><input type="text" placeholder="Enter Phone Number" name="Preg_Mobile" required></td>
					</tr>
					<tr>
						<td><label for="Preg_Bloodgrp"><b>Blood Group: </b></label></td>
						<td><select id="Bloodgrp" name="Preg_Bloodgrp" required>
							<option value="">--Select--</option>
							<option value="Bop">O +ve</option>
							<option value="Bon">O -ve</option>
							<option value="Bap">A +ve</option>
							<option value="Ban">A -ve</option>
							<option value="Bbp">B +ve</option>
							<option value="Bbn">B -ve</option>
							<option value="Babp">AB +ve</option>
							<option value="Babn">AB -ve</option>
							<option value="Bunknow">Not Known</option>
						</select></td>
						<td></td>
						<td><label for="Preg_Maritalstatus"><b>Marital Status: </b></label></td>
						<td><select id="Maritalstatus" name="Preg_Maritalstatus" required>
							<option value="">--Select--</option>
							<option value="Married">Married</option>
							<option value="Single">Single</option>
							<option value="Widow">Widow</option>
							<option value="Divorce">Divorce</option>
						</select></td>
					</tr>
				</table>

				<hr>

				<h3>Educational Details</h3>
				<!-- Educational  details tab -->
				<hr>
				<table>
					<col width="150" padding="20">
					<col width="400">
					<col width="25">
					<col width="150">
					<col width="400">
						<!-- Primary Education Status -->
					<tr>
						<td><label for="Preg_hedu"><b>Highest Educational Qualification</b></label></td>
						<td><select id="Preg_hedu" name="Preg_hedu" required>
							<option value="">--Select--</option>
							<option value="Phd">Phd</option>
							<option value="M.Phil">M.Phil</option>
							<option value="PG">PG</option>
							<option value="Degree">Degree</option>
							<option value="Diploma">Diploma</option>
							<option value="ITI">ITI</option>
							<option value="TTC">TTC</option>
							<option value="Plus2">Plus 2</option>
							<option value="SSLC">SSLC</option>
							<option value="7std">7 Standerd</option>
						</select></td>
						<td></td>
						<td><label for="Preg_Estream"><b>Stream: </b></label></td>
						<td><select id="Estream" name="Preg_Estream" required>
							<option value="">--Select--</option>
							<option value="Btech">B.TECH</option>
							<option value="Bsc">BSC</option>
							<option value="Msc">MSC</option>
							<option value="Bca">BCA</option>
							<option value="Mca">MCA</option>
							<option value="Ba">BA</option>
							<option value="Ma">MA</option>
							<option value="Poly">POLY TECHNIC 3 YEAR</option>
							<option value="Iticivil">DRAUGHTSMAN CIVIL</option>
							<option value="Itimv">MECHANIC MOTOR VEHICLE</option>
							<option value="Itiit">INFORMATION TECHNOLOGY</option>
							<option value="Itianimation">MULTIMEDIA ANIMATION AND SPECIAL EFFECTS</option>
							<option value="Itiarc">ARCHITECTURAL DRAUGHTSMAN</option>
							<option value="Itisurvey">SURVEYOR</option>
							<option value="Itimecd">MECHANIC DIESEL</option>
							<option value="Iticomhd">COMPUTER HARDWARE AND NETWORK MAINTANANCE</option>
							<option value="Itiitcom">INFORMATION AND COMMUNICATION TECHNOLOGY MAINTANANCE</option>
							<option value="Itiweld">WELDER</option>
							<option value="Itiste">STENOGRAPHER & SECTRIAL ASSISTANT</option>
							<option value="Itiit">INFORMATION TECHNOLOGY</option>
							<option value="Science">SCIENCE</option>
							<option value="Commerce">COMMERCE</option>
							<option value="Humanities">HUMANITIES</option>
							</select></td>
					</tr>
					<tr>
						<td><label for="Preg_Esub"><b>Subject: </b></label></td>
						<td><input type="text" placeholder="Enter Highest Qualification Subject" name="Preg_Esub" required></td>
						<td></td>
						<td><label for="Preg_Eyear"><b>Month & Year of Pass: </b></label></td>
						<td><input type="month" id="Eyear" name="Preg_Eyear">    </td>
					</tr>
					<tr>
						<td><label for="Preg_Einst"><b>College/School: </b></label></td>
						<td><input type="text" placeholder="Enter College/School Name" name="Preg_Einst" required></td>
						<td></td>
						<td></td>
					</tr>

					<!-- Secondary Education status-->

					<tr>
						<td><label for="Preg_sedu"><b>Secondary Educational Qualification</b></label></td>
						<td><select id="Preg_sedu" name="Preg_sedu">
							<option value="">--Select--</option>
							<option value="Phd">Phd</option>
							<option value="M.Phil">M.Phil</option>
							<option value="PG">PG</option>
							<option value="Degree">Degree</option>
							<option value="Diploma">Diploma</option>
							<option value="ITI">ITI</option>
							<option value="TTC">TTC</option>
							<option value="Plus2">Plus 2</option>
							<option value="SSLC">SSLC</option>
							<option value="7std">7 Standerd</option>

						</select></td>
						<td></td>
						<td><label for="Preg_Sestream"><b>Stream: </b></label></td>
						<td><select id="Preg_Sestream" name="Preg_Sestream">
							<option value="">--Select--</option>
							<option value="Btech">B.TECH</option>
							<option value="Bsc">BSC</option>
							<option value="Msc">MSC</option>
							<option value="Bca">BCA</option>
							<option value="Mca">MCA</option>
							<option value="Ba">BA</option>
							<option value="Ma">MA</option>
							<option value="Poly">POLY TECHNIC 3 YEAR</option>
							<option value="Iticivil">DRAUGHTSMAN CIVIL</option>
							<option value="Itimv">MECHANIC MOTOR VEHICLE</option>
							<option value="Itiit">INFORMATION TECHNOLOGY</option>
							<option value="Itianimation">MULTIMEDIA ANIMATION AND SPECIAL EFFECTS</option>
							<option value="Itiarc">ARCHITECTURAL DRAUGHTSMAN</option>
							<option value="Itisurvey">SURVEYOR</option>
							<option value="Itimecd">MECHANIC DIESEL</option>
							<option value="Iticomhd">COMPUTER HARDWARE AND NETWORK MAINTANANCE</option>
							<option value="Itiitcom">INFORMATION AND COMMUNICATION TECHNOLOGY MAINTANANCE</option>
							<option value="Itiweld">WELDER</option>
							<option value="Itiste">STENOGRAPHER & SECTRIAL ASSISTANT</option>
							<option value="Itiit">INFORMATION TECHNOLOGY</option>
							<option value="Science">SCIENCE</option>
							<option value="Commerce">COMMERCE</option>
							<option value="Humanities">HUMANITIES</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="Preg_Sesub"><b>Subject: </b></label></td>
						<td><input type="text" placeholder="Enter Highest Qualification Subject" name="Preg_Sesub" ></td>
						<td></td>
						<td><label for="Preg_Seyear"><b>Month & Year of Pass: </b></label></td>
						<td><input type="month" id="Eyear" name="Preg_Seyear">    </td>
					</tr>
					<tr>
						<td><label for="Preg_Seinst"><b>College/School Name: </b></label></td>
						<td><input type="text" placeholder="Enter College/School Name" name="Preg_Seinst" ></td>
						<td></td>
						<td></td>
					</tr>
				</table>
				<hr>

					<!-- Work details Tab -->
				<h3> Work Details</h3>
				<hr>

				<table>
					<col width="150" padding="20">
					<col width="400">
					<col width="25">
					<col width="150">
					<col width="400">
					<tr>
						<td><label for="Preg_Woccu"><b>Skill Set: </b></label></td>
						<td><select id="Preg_Woccu"  name="Preg_Woccu" required>
							<option value="">--Select--</option>
							<option value="Student">Student</option>
							<option value="Govemp">Government Employee</option>
							<option value="Engineer">Engineer</option>
							<option value="Doctor">Doctor</option>
							<option value="Accountant">Accountant</option>
							<option value="OfficeBoy">Office Assistant</option>
							<option value="Salesm">Sales Man</option>
							<option value="Business">Business</option>
							<option value="Painter">Painter</option>
							<option value="WeldWire">Welder/Wiring</option>
							<option value="Drughman">Drughman</option>
							<option value="GulfEmployee">Gulf Employee</option>
							<option value="Occothers">Other</option>
						</select></td>
						<td></td>
						<td><label for="Preg_Wloc"><b>Work Location: </b></label></td>
						<td><input type="text" placeholder="Enter Current Working Location" name="Preg_Wloc" required></td>
					</tr>
					<tr>
						<td><label for="Preg_Wcompany"><b>Company/Venture Name: </b></label></td>
						<td><input type="text" placeholder="Enter Father Name" name="Preg_Wcompany" required></td>
						<td></td>
						<td><label for="Preg_Wexp"><b>Work Experience: </b></label></td>
						<td><select id="Wexp" name="Preg_Wexp">
							<option value="">--Select--</option>
							<option value="WFresher">0 - 2 Years</option>
							<option value="WBegginer">2 - 4 Years</option>
							<option value="WMiddle">4 - 6 Years</option>
							<option value="WExpert">6 - 10 Years</option>
							<option value="WSpecialist">10 years and above</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="Preg_Wexpertise"><b>Work expertise: </b></label></td>
						<td><input type="text" placeholder="Enter your most expertise skills" name="Preg_Wexpertise" required></td>
					</tr>
				</table>
				<hr>
				<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
				<button type="submit" class="registerbtn">Submit</button>
			</form>

			<div class="container signin">
				<p>Already have an account? <a href="#">Sign in</a>.</p>
			</div>

		</div>
{% endblock %}
